<ol class='items-list'>
  
  <table>
            <tr>
                <th>{{localize "Species"}}</th>
                <th><input name="system.species" type ="text" value="{{system.species}}"></th>
                <th> {{localize "# of actions"}} </th>
                <th> <input name="system.actions" type = "text" value "{{system.actions}}"data-dtype="Number">  </th>
            </tr>
            <tr>
                <th>{{localize "Size Class"}}</th>
                <th> <input name="system.sc" type ="text" value="{{system.sc}}" data-dtype="Number"> </th>
                <th>{{localize "No. of bumps"}}</th>
                <th> <input name="system.nob" type ="text" value=" {{system.nob}}" data-dtype="Number"> </th>
            </tr>
            <tr>
                <th>{{localize "Berserk/Suicidal"}}</th>
                <th> <input name="system.bs" type ="text" value="{{system.bs}}"> </th>
                <th>{{localize "No. of bumps"}}</th>
                <th> <input name="system.mod" type ="text" value="{{system.mod}}"> </th>
            </tr>
            <tr>
                <th>{{localize "Rank"}}</th>
                <th> <input name="system.rank" type ="text" value="{{system.rank}}"> </th>
                <th>{{localize "Dodge"}}</th>
                <th> <input name="system.dodge" type ="text" value="{{system.dodge}}"> </th>
            </tr> 
            <tr>
                <th>{{localize "Position"}}</th>
                <th> <input name="system.position" type ="text" value="{{system.position}}"> </th>
                <th>{{localize "BP"}}</th>
                <th> <input name="system.health" type ="text" value="{{system.health}}"> </th>
            </tr> 
            <tr>
                <th>{{localize "Observation"}}</th>
                <th> <input name="system.observe" type ="text" value="{{system.observe}}"> </th>
                <th>{{localize "Death's door"}}</th>
                <th> <input name="system.dd" type ="text" value="{{system.dd}}"> </th>
            </tr> 
            <tr>
                <th>{{localize "Threshold Rating"}}</th>
                <th> <input name="system.TR" type ="text" value="{{system.TR}}"> </th>
                <th>{{localize "Movement"}}</th>
                <th> <input name="system.mov" type ="text" value="{{system.mov}}"> </th>
            </tr> 
        </table>
</ol>