<table>
    <tr>
        <th>{{localize "BIO"}}</th>
        <th><input name="system.Becr" type ="text" value="{{system.Becr}}"></th>
    </tr>
    <tr>
        <th>{{localize "CHEM"}}</th>
        <th><input name="system.CHecr" type ="text" value="{{system.CHecr}}"></th>
    </tr>
    <tr>
        <th>{{localize "COLD"}}</th>
        <th><input name="system.Cecr" type ="text" value="{{system.Cecr}}"></th>
    </tr>
    <tr>
        <th>{{localize "ELE"}}</th>
        <th><input name="system.ecr" type ="text" value="{{system.ecr}}"></th>
    </tr>
    <tr>
        <th>{{localize "FIRE"}}</th>
        <th><input name="system.Fecr" type ="text" value="{{system.Fecr}}"></th>
    </tr>
    <tr>
        <th>{{localize "MEN"}}</th>
        <th><input name="system.Mecr" type ="text" value="{{system.Mecr}}"></th>
    </tr>
    <tr>
        <th>{{localize "RAD"}}</th>
        <th><input name="system.Recr" type ="text" value="{{system.Recr}}"></th>
    </tr>
    <tr>
        <th>{{localize "SEN"}}</th>
        <th><input name="system.Secr" type ="text" value="{{system.Secr}}"></th>
    </tr>
</table>