<form class " {{cssClass}}" autocomplete="off">
    <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{actor.img}}'
      data-edit='img'
      title='{{actor.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='Name'
        /></h1>
    </div>
  
    <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    
    <a class="item" data-tab="weapons">Weapons</a>
    <a class="item" data-tab="armors">Armors</a>
    <a class="item" data-tab="combat_info">Combat_Info</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="stats">Stats</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="skills">skills</a>
    <a class="item" data-tab="matrices">matrices</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>
  <section class="sheet-body">
    <div class="tab weapons" data-group="primary" data-tab="weapons">
      {{> "systems/Battlelords_Vtt/templates/actor/parts/actor-weapons.hbs"}}
    </div>
    <div class="tab armors" data-group="primary" data-tab="armors">
      {{> "systems/Battlelords_Vtt/templates/actor/parts/actor-armor.hbs"}}
    </div> <div class="tab combat" data-group="primary" data-tab="combat_info">
      {{> "systems/Battlelords_Vtt/templates/actor/parts/actor-combat.hbs"}}
    </div>
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/Battlelords_Vtt/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned matrices Tab --}}
    <div class="tab matrices" data-group="primary" data-tab="matrices">
      {{> "systems/Battlelords_Vtt/templates/actor/parts/actor-matrices.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/Battlelords_Vtt/templates/actor/parts/actor-effects.hbs"}}
    </div><div class="tab effects flexcol" data-group="primary" data-tab="skills">
      {{> "systems/Battlelords_Vtt/templates/actor/parts/actor-skills.hbs"}}
    </div>
    <div class="tab stats" data-group="primary" data-tab="stats">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="abilities flexcol">
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="@abilities.{{key}}.mod - d100" data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup @root.config.abilities key)}}</label>
              <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="@abilities.{{key}}.mod - d100" data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main weapons list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/Battlelords_Vtt/templates/actor/parts/actor-vitals.hbs"}}
        </section>

      </section>
      
  </section>
</form>