<form class " {{cssClass}}" autocomplete="off">
    <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{actor.img}}'
      data-edit='img'
      title='{{actor.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>
    <div class"sidebar">
        <table>
            <tr>
                <th>{{localize "species"}}</th>
                <th><input name="system.species" type ="text" value=" {{system.species}}"></th>
                <th> {{localize "# of actions"}} </th>
                <th> <input name="system.actions" type = "text" value " {{system.actions}} ">  </th>
            </tr>
            <tr>
                <th>{{localize "test"}}</th>
                <th> <input name="system.test" type ="text" value=" {{system.test}}"> </th>
                <th>{{localize "test2"}}</th>
                <th> <input name="system.test2" type ="text" value=" {{system.test2}}"> </th>
            </tr>
            
        </table>
    </div>
</form>