<form class " {{cssClass}}" autocomplete="off">
    <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{actor.img}}'
      data-edit='img'
      title='{{actor.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>
    <div class"sidebar">
        <table>
            <tr>
                <th>{{localize "species"}}</th>
                <th><input name="system.species" type ="text" value=" {{system.species}}"></th>
                <th> {{localize "# of actions"}} </th>
                <th> <input name="system.actions" type = "text" value " {{system.actions}} "data-dtype="Number">  </th>
            </tr>
            <tr>
                <th>{{localize "size class"}}</th>
                <th> <input name="system.sc" type ="text" value=" {{system.sc}}" data-dtype="Number"> </th>
                <th>{{localize "No. of bumps"}}</th>
                <th> <input name="system.nob" type ="text" value=" {{system.nob}}" data-dtype="Number"> </th>
            </tr>
            <tr>
                <th>{{localize "Berserk/Suicidal"}}</th>
                <th> <input name="system.bs" type ="text" value=" {{system.bs}}"> </th>
                <th>{{localize "No. of bumps"}}</th>
                <th> <input name="system.mod" type ="text" value=" {{system.mod}}"> </th>
            </tr>
            
        </table>
    </div>
</form>