<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  <div>
    <table>
      <tr>
        <th> {{localize "BATTLELORDS.armour.thr"}} </th>
        <th> {{localize "BATTLELORDS.armour.absla"}}</th>
        <th> {{localize "BATTLELORDS.armour.absra"}} </th>
        <th> {{localize "BATTLELORDS.armour.absll"}} </th>
        <th> {{localize "BATTLELORDS.armour.absrl"}} </th>
        <th> {{localize "BATTLELORDS.armour.sila"}} </th>
        <th> {{localize "BATTLELORDS.armour.sira"}} </th>
        <th> {{localize "BATTLELORDS.armour.sill"}} </th>
        <th> {{localize "BATTLELORDS.armour.sirl"}} </th>
      </tr>
      <td>
          <input name="system.thr" type ="text" value=" {{system.thr}}" data-dtype = "Number">
      </td>
      <td>
          <input name="system.absla" type ="text" value=" {{system.absla}}" data-dtype = "Number">
      </td>
      <td>
          <input name="system.absra" type ="text" value=" {{system.absra}}" data-dtype = "Number">
      </td>
      <td>
          <input name="system.absll" type ="text" value=" {{system.absll}}" data-dtype = "Number">
      </td>
      <td>
          <input name="system.absrl" type ="text" value=" {{system.absrl}}" data-dtype = "Number">
      </td>
      <td>
          <input name="system.sila" type ="text" value=" {{system.sila}}" data-dtype = "Number">
      </td>
      <td>
          <input name="system.sira" type ="text" value=" {{system.sira}}" data-dtype = "Number">
      </td>
      <td>
          <input name="system.sill" type ="text" value=" {{system.sill}}" data-dtype = "Number">
      </td>
      <td>
          <input name="system.sirl" type ="text" value=" {{system.sirl}}" data-dtype = "Number">
      </td>

    </table>
  </div>