<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  <div>
    <table>
      <tr>
        <th>{{localize "Weapon Type"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.r1"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.r2"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.r3"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.r4"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.r5"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.r6"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.r7"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.r8"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.dmg"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.mn"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.bur"}}</th>
        <th>{{localize "BATTLELORDS.wepdata.full"}}</tr>
      <tr>
        <td>
          <select name = "system.weptypes">
            {{#select system.weptypes}}
            {{#each config.weptypes as |name type|}}
            <option value = "{{type}}" >{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </td>
        
        <td>
          <input name="system.r1" type ="text" value="{{system.r1}}" data-dtype = "Number">
        </td>
        <td>
          <input name="system.r2" type ="text" value="{{system.r2}}" data-dtype = "Number">
        </td>
        <td>
          <input name="system.r3" type ="text" value="{{system.r3}}" data-dtype = "Number">
        </td>
        <td>
          <input name="system.r4" type ="text" value="{{system.r4}}" data-dtype = "Number">
        </td>
        <td>
          <input name="system.r5" type ="text" value="{{system.r5}}" data-dtype = "Number">
        </td>
        <td>
          <input name="system.r6" type ="text" value="{{system.r6}}" data-dtype = "Number">
        </td>
        <td>
          <input name="system.r7" type ="text" value="{{system.r7}}" data-dtype = "Number">
        </td>
         <td>
          <input name="system.r8" type ="text" value="{{system.r8}}" data-dtype = "Number">
        </td>
        <td>
          <input name="system.damage" type ="text" value="{{system.damage}}" data-dtype = "Number">
        </td>        
        <td>
          <input name="system.mn" type ="text" value="{{system.mn}}" data-dtype = "Number">
        </td>
        <td>
          <input name="system.bur" type ="text" value="{{system.bur}}" data-dtype = "Number">
        </td>
        <td>
          <input name="system.full" type ="text" value="{{system.full}}" data-dtype = "Number">
        </td>
      </tr>
    </table>
    <textarea name="system.description">
      {{system.description}}
    </textarea>
  </div>