<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  <div>
    <table>
      <tr>
        <th>{{localize "Skill Type"}}</th>
        <th>{{localize "Skill Level"}}</th>
        <th>{{localize "Skill Check"}}</th>
        <th>{{localize "Skill Cost"}}</th>
      </tr>
      <tr>
        <th>
          <select name ="system.skillType">
            {{#select system.skillType}}
            {{#each config.skillType as |name skill|}}
            <option value ="{{skill}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </th>
        <th><input name="system.skilllevel" type ="text" value="{{system.skilllevel}}" data-dtype = "Number"></th>
        <th><input name="system.skillcheck" type ="text" value="{{system.skillcheck}}" data-dtype = "Number"></th>
        <th><input name="system.skillcost" type ="text" value="{{system.skillcost}}" data-dtype = "Number"></th>
      </tr>
    </table>
    <textarea name="system.desciption">{{system.desciption}}</textarea>
  </div>


</form>
